@import 'spaceing.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cursor-pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}
.text-left{
    text-align: left;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        max-width: 1140px;
    }

    @media screen and (max-width: 992px) {
        max-width: 960px;
    }

    @media screen and (max-width:768px) {
        max-width:720px;
    }

    @media screen and (max-width:576px) {
        max-width:540px;

    }
}
.link {
    color: black;
    text-decoration: none;
}
.italic{
    font-style: italic;
}