@import 'spaceing.scss';
$darkblue:rgb(3,37,65);
$green:#01d277;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f8ff;
}
.cursor-pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}

.text-left{
    text-align: left;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        max-width: 1140px;
    }

    @media screen and (max-width: 992px) {
        max-width: 960px;
    }

    @media screen and (max-width:768px) {
        max-width:720px;
    }

    @media screen and (max-width:576px) {
        max-width:540px;
    }
}
.link {
    text-decoration: none;
}
.italic{
    font-style: italic;
}
.dark-blue-bg{
    background-color: $darkblue;
}
.white-word{
    color:white
}
.black-word{
    color:black
}
.green-bg{
    background: $green;
}